{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-br" prefix="og: http://ogp.me/ns#">
  <head>
    <title>Trabalhos Espaciais Manuais</title>

    <!-- OpenGraph stuff -->
    <meta property="og:title" content="Trabalhos Espaciais Manuais" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://tem.space/" />
    <meta property="og:image" content="http://tem.space/static/img/og_banner_470.png" />
    <meta property="og:image:width" content="470" />
    <meta property="og:image:height" content="246" />
    <meta property="og:image" content="http://tem.space/static/img/og_logo_116x116.png" />
    <meta property="og:image:width" content="116" />
    <meta property="og:image:height" content="116" />
    <meta property="og:locale" content="pt_BR" />
    <meta property="og:site_name" content="Trabalhos Espaciais Manuais" />
    <meta property="og:description" 
      content="A TEM é uma banda instrumental de música popular brasileira. Surgiu em 2013 em Porto Alegre e hoje conta com dez integrantes. O baile-show dessa banda-família acontece em casas de shows, bares, teatros e ruas. No repertório, um fusão de diversas vertentes musicais como afrobeat, jazz, rock, maracatu e samba." />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A TEM é uma banda instrumental de música popular brasileira. Surgiu em 2013 em Porto Alegre e hoje conta com dez integrantes. O baile-show dessa banda-família acontece em casas de shows, bares, teatros e ruas. No repertório, um fusão de diversas vertentes musicais como afrobeat, jazz, rock, maracatu e samba."/>

    <!-- link para fonte no Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>

    <link href="{% static 'img/favicon.ico.old' %}" rel="icon" type="image/x-icon"/>
    <link href="{% static 'lib/bootstrap-4.0.0-alpha/dist/css/bootstrap.min.css' %}" rel="stylesheet" media="screen"/>
    <link rel="stylesheet" href="{% static 'lib/font-awesome-4.4.0/css/font-awesome.min.css' %}">
    <link href="{% static 'css/tem.css'%}" rel="stylesheet" type="text/css"/>
    {% block styles %}{% endblock %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-69148151-1', 'auto');
      ga('send', 'pageview');

    </script>
  </head>

  <body>

  <!--[if lt IE 7]>
      <p class="browsehappy">Você está utilizando um navegador não suportado. Por favor, utilize <a href="http://browsehappy.com/?locale=pt_BR">Chrome, Firefox, Safari ou Opera</a> para utilizar o Simbio.</p>
  <![endif]-->

  {% block header %}
  <!--
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <a class="navbar-brand" href="#">Trabalhos Espaciais Manuais</a>
    <ul class="nav nav-pills">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
  </nav>
  -->
  {% endblock %}

  <div class="container">
    {% block content %}

    <div class="main-form-container">

      {% if mailform %}
      <form class="form-inline" action="" method="post">
        {% csrf_token %}
        <div class="form-group {% if mailform.email.errors %} input-error{% endif %}">
          {{ mailform.email }}
        </div>

        <button type="submit" class="btn btn-primary-outline">Baixar EP</button>

        {% if mailform.email.errors %}
        <div class="input-error">
          Informe seu e-mail
        </div>
        {% endif %}

      </form>
      {% else %}
      <a href="/ep/" class="btn btn-primary-outline">Baixar EP</button>
      {% endif %}
      
      <div class="greetings">
        <!--<p>Olá!</p>-->
        <p>Agradecemos de coração tua vontade de baixar nosso EP. Isso é fundamental para fortalecer a música independente. Teu e-mail vai ficar numa lista para que a gente possa te comunicar nossa trajetória.</p>
        <!--<p>Abraços da TEM!</p>-->
      </div>
    </div>

    <div class="main-logo">
      <img src="{% static 'img/main-logo.png' %}" alt="Logo da Trabalhos Espaciais Manuais">
    </div>

    {% endblock %}
  </div>

  <footer> 
    ainda bem que é jazz
  </footer>

  <script src="{% static 'lib/jquery-2.1.4.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap-4.0.0-alpha/dist/js/bootstrap.min.js' %}"></script>
  {% block script %}{% endblock %}
  </body>

</html>