{% extends "t18.html" %}
{% load staticfiles %}

{% block styles %}
<link href="{% static 'css/mix.css'%}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block script %}
<script src="{% static 'lib/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'lib/howler.js/src/howler.core.js' %}"></script>
<!-- <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.6.0/Sortable.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-sortablejs@latest/jquery-sortable.js"></script>
<script src="{% static 'js/mix.js' %}"></script>
{% endblock %}
    
{% block content %}
<div id="playsong" class="controls"><i class="fa fa-play" aria-hidden="true"></i></div>
<div id="stopsong" class="controls"><i class="fa fa-stop" aria-hidden="true"></i></div>

<div id="instruments" class="connectedSortable">
  <div class="instrument size2" data-name="drums">
    <div id="drums" class="preview"><i class="fa fa-play" aria-hidden="true"></i></div>
    <div class="instrument-label">bateria</div>
  </div>
  <div class="instrument size4" data-name="bass">
    <div id="bass" class="preview"><i class="fa fa-play" aria-hidden="true"></i></div>
    <div class="instrument-label">baixo</div>
  </div>
  <div class="instrument size4" data-name="keys">
    <div id="keys" class="preview"><i class="fa fa-play" aria-hidden="true"></i></div>
    <div class="instrument-label">teclado</div>
  </div>
  <div class="instrument size4" data-name="guitar1">
    <div id="guitar1" class="preview"><i class="fa fa-play" aria-hidden="true"></i></div>
    <div class="instrument-label">guitarra 1</div>
  </div>
  <div class="instrument size4" data-name="guitar2">
    <div id="guitar2" class="preview"><i class="fa fa-play" aria-hidden="true"></i></div>
    <div class="instrument-label">guitarra 2</div>
  </div>
  <div class="instrument size4" data-name="guitar3">
    <div id="guitar3" class="preview"><i class="fa fa-play" aria-hidden="true"></i></div>
    <div class="instrument-label">guitarra 3</div>
  </div>
</div>

<div class="song">
  <div class="track">
    <div class="track-label">Bateria</div>
    <div id="track1" class="connectedSortable"></div>
  </div>
  <div class="track">
    <div class="track-label">Baixo</div>
    <div id="track2" class="connectedSortable"></div>
  </div>
  <div class="track">
    <div class="track-label">Teclado</div>
    <div id="track3" class="connectedSortable"></div>
  </div>
  <div class="track">
    <div class="track-label">Guitarra 1</div>
    <div id="track4" class="connectedSortable"></div>
  </div>
  <div class="track">
    <div class="track-label">Guitarra 2</div>
    <div id="track5" class="connectedSortable"></div>
  </div>
  <div class="track">
    <div class="track-label">Guitarra 3</div>
    <div id="track6" class="connectedSortable"></div>
  </div>
</div>

{% endblock %}



