{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-br" prefix="og: http://ogp.me/ns#">
  <head>
    <title>Trabalhos Espaciais Manuais</title>

    <!-- OpenGraph stuff -->
    <meta property="og:title" content="Trabalhos Espaciais Manuais" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://tem.space/" />
    <meta property="og:image" content="http://tem.space/static/img/og_banner_470.png" />
    <meta property="og:image:width" content="470" />
    <meta property="og:image:height" content="246" />
    <meta property="og:image" content="http://tem.space/static/img/og_logo_116x116.png" />
    <meta property="og:image:width" content="116" />
    <meta property="og:image:height" content="116" />
    <meta property="og:locale" content="pt_BR" />
    <meta property="og:site_name" content="Trabalhos Espaciais Manuais" />
    <meta property="og:description" 
      content="Trabalhos Espaciais Manuais (TEM) é uma banda instrumental de música popular brasileira. Desde 2013 realiza seu baile-show autoral misturando afrobeat, jazz, rock, maracatu e samba." />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Trabalhos Espaciais Manuais (TEM) é uma banda instrumental de música popular brasileira. Desde 2013 realiza seu baile-show autoral misturando afrobeat, jazz, rock, maracatu e samba."/>

    <!-- link para fonte no Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto+Mono' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">

    <link href="{% static 'img/favicon.ico' %}" rel="icon" type="image/x-icon"/>
    <link href="{% static 'lib/bootstrap-4.0.0-alpha/dist/css/bootstrap.min.css' %}" rel="stylesheet" media="screen"/>
    <link rel="stylesheet" href="{% static 'lib/font-awesome-4.4.0/css/font-awesome.min.css' %}">
    <link href="{% static 'css/t18.css'%}" rel="stylesheet" type="text/css"/>
    {% block styles %}{% endblock %}
    {% block scripts %}{% endblock %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-69148151-1', 'auto');
      ga('send', 'pageview');
    </script>
  </head>

  <body>

  <!--[if lt IE 7]>
      <p class="browsehappy">Você está utilizando um navegador não suportado. Por favor, utilize <a href="http://browsehappy.com/?locale=pt_BR">Chrome, Firefox, Safari ou Opera</a> para utilizar o Simbio.</p>
  <![endif]-->

  {% block header %}
  <!--
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <a class="navbar-brand" href="#">Trabalhos Espaciais Manuais</a>
    <ul class="nav nav-pills">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
  </nav>
  -->
  <header id="header">
    <div class="siteTitle hidden">
      <a href="/">Trabalhos Espaciais Manuais</a>
    </div>
  </header>
  {% endblock %}

  <div class="main-logo">
    <a href="/"><img src="{% static 'img/logo-t18.png' %}" alt="Logo da Trabalhos Espaciais Manuais" title="Trabalhos Espaciais Manuais"></a>
  </div>

  <div class="container">
    {% block content %}



    <div class="main-form-container">

      <div class="video top">
        <h3>TERRAS BRASAIS</h3>
        <div class="cover">
           <img src="{% static 'img/terras-cover.jpg' %}"/>
        </div>
        <div class="hidden">
          <iframe width="824" height="464" src="https://www.youtube.com/embed/eAJJoJPpr0w?rel=0&amp;showinfo=0" frameborder="0"
            allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
      </div>
      

      <div class="spotify">
        <h3>SPOTIFY</h3>
        <iframe src="https://open.spotify.com/embed/artist/4RSRiccbutyX0OVVc4py7Z" frameborder="0"
          style="border: 0; max-width: 824px; width: 100%; height: 260px;"
          allowtransparency="true" allow="encrypted-media"></iframe>
      </div>

      <div class="agenda">
        <h3>HISTÓRICO</h3>
        <ul>
          <li>
            <div>Mar.20</div>
            <div>Morrodália</div>
            <div>Santa Maria - RS</div>
          </li>
          <li>
            <div>Set.19</div>
            <div>Arvo Festival</div>
            <div>Florianópolis - SC</div>
          </li>
          <li>
            <div>Abr.19</div>
            <div>Pira Rural</div>
            <div>Ibarama - RS</div>
          </li>
          <li>
            <div>Mar.19</div>
            <div>Psicodália</div>
            <div>Rio Negrinho - SC</div>
          </li>
          <li>
            <div>Nov.18</div>
            <div>MECA Festival</div>
            <div>Maquiné - RS</div>
          </li>
        </ul>
      </div>

      <div class="bottom">
        <div class="social">
          <ul>
            <li><a href="http://facebook.com/trabalhosespaciaismanuais">
              <img src="{% static 'img/facebook.png'%}" alt="Facebook da TEM"/>
            </a></li>
            <li><a href="http://instagram.com/temtagram">
              <img src="{% static 'img/instagram.png'%}" alt="Instagram da TEM"/>
            </a></li>
            <li><a href="https://open.spotify.com/artist/4RSRiccbutyX0OVVc4py7Z">
              <img src="{% static 'img/spotify.png'%}" alt="Spotify da TEM"/>
            </a></li>
            <li><a href="https://soundcloud.com/trabalhosespaciaismanuais">
              <img src="{% static 'img/soundcloud.png'%}" alt="SoundCloud da TEM"/>
            </a></li>
            <li><a href="https://trabalhosespaciaismanuais.bandcamp.com/">
              <img src="{% static 'img/bandcamp.png'%}" alt="Bancamp da TEM"/>
            </a></li>
            <li><a href="https://www.youtube.com/channel/UC8kngf2OScaoBz9ekTEGQZA">
              <img src="{% static 'img/youtube.png'%}" alt="YouTube da TEM"/>
            </a></li>
          </ul>
        </div>
        <div class="contact">
          <h3>CONTATO</h3>
          <a href="mailto:trabalhosespaciaismanuais@gmail.com">trabalhosespaciaismanuais | gmail com</a>
        </div>
      </div>
    </div>

    
    {% endblock %}
  </div>

  <footer> 
    <a href="mailto:neocase@gmail.com" title="webmaster">ainda bem que é jazz</a>
  </footer>

  <script src="{% static 'lib/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap-4.0.0-alpha/dist/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/t18.js' %}"></script>
  {% block script %}{% endblock %}
  </body>

</html>
