.preview, .instrument, .instrument-label {
    display: inline-block;
}

.size2 {width: 100px;}
.size4 {width: 200px;}

.instrument {
    border: 1px solid white;
    padding: 10px;
    margin: 0;
    height: 50px;
}

.track {
    min-height: 50px;
    border: 1px #ccc solid;
    padding: 0;
    vertical-align: top;
}

.track .track-label {
    display: inline-block;
    background-color: yellow;
    min-height: 50px;
    min-width: 100px;
    border-right: 1px #ccc solid;
    vertical-align: middle;
    padding: 5px;
}

.track .connectedSortable {
    display: inline-block;
    min-height: 50px;
    min-width: 100px;
    vertical-align: top;
}

.controls {
    font-size: 40px;
}

#playsong {display: block;}
#stopsong {display: none;}