body {
    background-color: black;
    font-family: 'Righteous', monospace;
    color: #abaaaa;
    margin: 0;
}

.hidden {
    display: none;
}

#header, #header a {
    color: transparent;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
}

.main-form-container,
.main-ep-container {
    max-width: 824px;
    padding-top: 2rem;
    margin: auto;
}

.main-logo {
    margin: auto;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
    background-color: #551519;
    margin: 0 0 30px 0;
    border: 30px solid #f53541;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    width: 100%;
}

.top {
    margin-bottom: 0;
}

.middle {
    display: inline-block;
    max-width: 400px;
    vertical-align: top;
}

.video .cover img {
    width: 100%;
    cursor: pointer;
}

.agenda {
    border: 0;
    width: 100%;
    height: 200px;
    overflow: auto;
}

h3 {
    font-size: 16px;
    text-align: left;
    margin-top: 14px;
    color: #CFCFCF;
}

.agenda ul {
    text-align: left;
    font-family: 'Roboto Mono', monospace;
    list-style: none;
    padding: 0;
    font-size: 12px;
    color: #feffff;
}

.agenda li {
    padding-bottom: 14px;
    margin-bottom: 14px;
    border-bottom: 1px solid #abaaaa;
}

.agenda li div {
    padding-left: 16px;
}

.bottom {
    margin: 2em;
    text-align: center;
}

.social ul {
    list-style: none;
    padding: 20px;
    font-size: 12px;
}

.social li {
    padding-bottom: 14px;
    margin: 10px;
    margin-bottom: 14px;
    display: inline-block;
}

.contact h3 {
    font-size: 22px;
    color: #FFF;
    text-align: center;
}
.contact a {
    font-size: 14px;
    color: #FFF;
    font-family: 'Roboto Mono', monospace;
}

footer {
    position: fixed;
    right: 0;
    bottom: 0;
    font-size: 8px;
    color: #888;
}

.input-error {
    color: white;
    padding: 0.2rem 0 0 0.2rem;
    font-size: 14px;
}

.btn-primary-outline {
    color: white;
    background-color: #444;
    border-color: black;
}

.btn-primary-outline:active,
.btn-primary-outline:hover,
.btn-primary-outline:focus {
    color: white;
    background-color: black;
    border-color: black;
}


@media all and (min-width: 800px) {
    .spotify {
        max-width: 824px;
    }
    .main-form-container {
      padding-top: 1rem;
      text-align: center;
    }
}
