body {
    background-color: #ececec;
}

h3, p {
    margin-left: 10px;
}

a {
    color: red;
    text-decoration: underline;
}
a:hover {
    color: red;
}

.mainbar {
    background-color: #eaeaea;
    border-bottom: 1px solid black;
    height: 30px;
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
}

.mainbar * {
    display: inline-block;
}

.mainbar img {
    height: 27px;
}

.mainbar h1 {
    padding: 6px;
    font-size: 14px;
    font-weight: 600;
}

.icon {
    margin: 30px;
    display: inline-block;
    padding: 10px;
    text-align: center;
}
.icon:hover {
    background-color: #e0e0e0;
    color: white;
}
.icon-image {
    margin-bottom: 10px;
}
.icon-image img {
    width: 70px;
    filter: grayscale(100%);
}
.icon-title {
    text-decoration: underline;
}

pre {
    margin: 40px;
    background-color: white;
    padding: 20px;
    border: 1px solid;
}

.video {
	position: relative;
	padding-bottom: 54%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.spotify {
    height: 260px;
}
.social {
    background-color: #CCC;
    text-align: center;
}
.social ul {
    list-style: none;
    padding: 20px;
    font-size: 12px;
}

.social li {
    padding-bottom: 14px;
    margin: 10px;
    margin-bottom: 14px;
    display: inline-block;
}


footer {
    position: fixed;
    right: 0;
    bottom: 0;
    font-size: 8px;
    color: #888;
}